body, html
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    direction: rtl;
    font-size: 1rem !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bg
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    }

@media (max-width: 580px) {
    #title-image {
        width: 70% !important;
    }
}

#title-image
{
    width: 50%;
    margin-right: 1.5rem;
}

.font
{
    font-family: 'Raleway', sans-serif;
    color: white;
}

span{
    color: white;
}

.bold-text
{
    font-weight: bold;
}

.icon
{
    color:white; 
    font-size: 2rem!important;
}

.date
{
    font-size: 2.75rem;
    font-weight: bold;
}

.date sup, .date span, .date sub
{
    font-weight: normal;
    font-size: 1rem;
}

.month
{
    font-size: 1rem;
}

.date-section .dash
{
    font-size: 2rem;
    font-weight: bold;
}

.description
{
    font-weight: 800;
    font-style: italic;
    font-size: 1rem;
}

.countdown, .countdown-labels
{
    /*margin:0 20%!important;*/
    font-weight: lighter;
    font-style: normal;
    color: white;
}

.countdown, .countdown-labels
{
    color: cyan;
}
@media (min-width: 768px) {
    .countdown, .countdown-labels {
        padding:0 30%;
    }
}

.countdown-labels div
{
    font-size: 0.85rem;
}
.countdown .number
{
    font-size: 3rem;
    border-bottom: 0.25rem solid;
    padding-bottom: 0.5rem;
    color: white!important;
}
@media (max-width: 350px) {
    .countdown .number {
        font-size: 2.25rem;
    }
}

.countdown .minutes, .countdown-labels .minutes
{
    color: #e49ef5;
    border-color: #e49ef5;
}

.countdown .hours, .countdown-labels .hours
{
    color: #11f4a9;
    border-color: #11f4a9;
}

.countdown .days, .countdown-labels .days, .countdown .seconds, .countdown-labels .seconds
{
    color: #61fdfe;
    border-color: #61fdfe;
}


.footer-social{
    margin: 40px 0;
}
.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-social ul li {
    margin: 0 15px;
    display: inline-block;
}
.footer-social ul li a i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 34px;
    font-size: 1.5rem;
    position: relative;
}

.fa-instagram:before{
    margin-left: 1px!important;
}
.fa-telegram:before{
    margin-left: -1px!important;
}

.footer-social ul li a i:after{
    content: '';
    position: absolute;
    border: 1px solid rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.footer-social ul li a:hover i:after {
    border: 1px solid #446CB3;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.footer-social ul li a:hover {
    text-decoration: none;
}


.footer-social ul li a i{
    color: #fff;
}
