{% extends 'wssbase.html' %}
{% load static %}
{% load date_tags %}
{% load human_tags %}

{% block header %}
<video autoplay muted loop id="bg">
    <source src="{% static 'images/bg.mp4' %}" type="video/mp4">
</video>
<div class="container-fluid h-100 align-items-center justify-content-center d-flex">
	<div class="container my-auto">
		<div class="font row justify-content-center py-xl-4">
			<div class="mt-2 mt-xl-0 col-xl-3 order-xl-1 order-3 flex-grow-1 align-items-center justify-content-center">

				<div class="row my-auto align-items-center text-center justify-content-center h-100 ">
					<div class="col justify-content-center text-center align-items-center">
						<div class="d-none d-xl-block row justify-content-center text-center align-items-center">
							<img style="max-height: 4.5rem;" src="{% static 'images/sharif.png' %}"/>
						</div>

						<div class="mt-4 d-none d-xl-block row justify-content-center text-center align-items-center">
							<img style="max-height: 3rem;" src="{% static 'images/ssc.png' %}"/>
						</div>
						<div class="mt-4 d-none d-xl-block row justify-content-center text-center align-items-center">
							<img src="{% static 'images/logo.png' %}" style="max-height:3.5rem;	">
						</div>
						<div class="d-none d-xl-block mx-auto my-2 bold-text">
							2019
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 text-center order-2">
				<img class="mt-4 mt-xl-0" id="title-image" src="{% static 'images/title.png' %}"/>
			</div>
			<div class="mt-2 mt-xl-0 col-xl-3 pl-xl-4 flex-grow-1 align-items-center justify-content-center order-4">
                <div class="row my-auto align-items-center text-center justify-content-center h-100 ">
					<div class="col justify-content-center text-center align-items-center">
						<div class="font row justify-content-center align-items-center date-section">

                        <div class="col-1-xl col-6-sm mx-2 mx-0-xl text-center date">
                        <div>3<sup>rd</sup></div>

                        <div class="month">JAN</div>
                        </div>
                        <span class="dash">-</span>

                        <div class="col-1-xl col-6-sm mx-2 mx-0-xl text-center date">
                        <div>2<sup>nd</sup></div>
                        <div class="month">JAN</div>
                        </div>
                    </div>
					</div>
				</div>
			</div>
		</div>


		<div class="font mt-3 row justify-content-center- align-items-center description text-center">
			<div class="mx-auto">
				ADVANCED TOPICS IN <br/> COMPUTER SCIENCE AND ENGINEERING
			</div>
		</div>

        <div class="font mt-3 row justify-content-center- align-items-center description text-center">
			<div class="mx-auto">
                <a href="http://ssc.ce.sharif.edu/pages/forms/%D9%81%D8%B1%D9%85-%D9%81%D8%B1%D8%A7%D8%AE%D9%88%D8%A7%D9%86-%D8%B4%D8%B1%DA%A9%D8%AA-%D8%AF%D8%B1-poster-session-%D8%B1%D9%88%DB%8C%D8%AF%D8%A7%D8%AF-wss2019/">
                    <button type="button" id="poster-reg" class="btn btn-light btn-round" style="font-weight: bold; border-radius: 10px;">
                        Poster Session Registration
                    </button>
                </a>
			</div>
		</div>

        <div dir="ltr" class="countdown mt-3 mx-lg-6 row justify-content-center align-items-center text-center">
            <div class="col">
                <div class="number days"></div>
            </div>
            <div class="col">
                <div class="number hours"></div>
            </div>
            <div class="col">
                <div class="number minutes"></div>
            </div>
            <div class="col">
                <div class="number seconds"></div>
            </div>
        </div>
        <div dir="ltr" class="countdown-labels mt-1 row justify-content-center align-items-center text-center">

                <div class="col">
                    <div class="days">Days</div>
                </div>
                <div class="col">
                    <div class="hours">Hours</div>
                </div>
                <div class="col">
                    <div class="minutes">Minutes</div>
                </div>
                <div class="col">
                    <div class="seconds">Seconds</div>
                </div>
            </div>
        <div class="row justify-content-center align-items-center text-center">
            <div class="d-xl-none mt-5 row justify-content-center text-center align-items-center">
                <img class="ml-5" style="max-height: 4rem;" src="{% static 'images/sharif.png' %}"/>
                <img style="max-height: 3rem;" src="{% static 'images/ssc.png' %}"/>
            </div>
        </div>
        <div class="footer-social text-center">
            <ul>
                {% for external_link in external_links %}
                    <li><a href="{{ external_link.url }}"><i class="fa fa-{{ external_link.type }}"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
	</div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var timespan = countdown(function (ts) {
            $(".countdown .days").text((ts.days < 10 ? "0" : "") + ts.days);
            $(".countdown .hours").text((ts.hours < 10 ? "0" : "") + ts.hours);
            $(".countdown .minutes").text((ts.minutes < 10 ? "0" : "") + ts.minutes);
            $(".countdown .seconds").text((ts.seconds < 10 ? "0" : "") + ts.seconds);
        }, new Date(2020, 0, 2), countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);

    </script>

{% endblock %}